<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Recommendation System</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<!--     	<div style="margin-left: 30%">
	    	{{this.user.id}}<br>
	    	{{this.user.email}}<br>
	    	{{this.user.mobile_no}}
	    </div> -->

	 <nav class="navbar navbar-light bg-light">
	  <span class="navbar-text">
	    {{this.user.email}}
	  </span>
	</nav>
	<br><br>
  		<div style="margin-left: 10%" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  			<div class="btn-group mr-4" role="group" aria-label="First group">
				<button class="btn btn-outline-primary" (click)="UserUserCollaborativeFiltering()">User-User Collaborative Filtering</button>
				<button class="btn btn-outline-primary" (click)="ItemItemCollaborativeFiltering()">Item-Item Collaborative Filtering</button>
				<button class="btn btn-outline-primary" (click)="SVD()">Singular Value Decomposition</button>
			</div>
				<button class="btn btn-outline-primary" routerLink="">Finish</button>
			
		</div>


		<br><br>
		<!-- <a routerLink="/welcome">welcome</a> -->
		<div class="table-responsive" style="width: 90%; margin-left:10%">
			<h4>
		  Here are the {{final_rec_movie.length}} movies recomended for you by the <b>{{recommender_system}}</b>
		</h4><br>
			<table class="table">
			    <tr *ngFor="let movie of final_rec_movie">
			   		<td>
			   			<div class="card" style="width:100%">
							<img src="{{this.movie.movieImage}}" style="" class="card-img-top">
						</div>
					</td>
					<td>
							<div class="card-body">
							  	<h3>{{this.movie.title}}</h3>
							    <p class="card-text">{{this.movie.about}}</p>
							    <p class="card-text" *ngIf="this.movie.yearOfRelease!='1111-11-11'">{{this.movie.yearOfRelease}}</p>
							    <p class="card-text" *ngIf="this.movie.yearOfRelease=='1111-11-11'">Release Date Not Available</p>
							    <a href="{{this.movie.imdbId}}" target="_blank"> IMDB LINK</a>
							</div>
					</td>
				</tr>
			</table>
		</div>

	</body>
</html>